# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Python packaging
build/
dist/
*.egg-info/

# Logs
*.log
